body {
  overflow-x: scroll;
  white-space: nowrap;
  font-family: Arial !important;
}

.colm {
  width: 300px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  margin-right: 5px;
  word-wrap: normal;
}

.feed-item-box {
  padding: 5px;
}

.global-feed-col {
  background-color: #e7e7e7;
}

.user-col {
  background-color: #e3e3e3;
}
.user-box {
  padding: 10px;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  color: #3B5F6B;

}
.user-feed-col {
  background-color: #e7e7e7;
}

.event-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.event-box {


}
.selected {
  font-weight: bold;
  background-color: yellow;
}