<div class="user-col colm">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="text" class="form-control" ng-model="userSearch" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	<div ng-repeat="username in usernames | filter:userSearch | orderBy:username">
		<div ng-class="{selected: activeUserColumns[username]}" ng-click="toggleActiveUser(username)">
			<div class="user-box">
				@{{username}}
			</div>
		</div>
	</div>
</div>

<div class="global-feed-col colm">
	<header>Global Feed</header>
	<button ng-click="globalUserActivity.reverse()" class="btn btn-primary">Reverse</button>
	<div class="feed-item-box" ng-repeat="userActivity in globalUserActivity">
		<div feed-item event-info="userActivity" event-types="eventTypes" set-event-type="setEventType"></div>
	</div>
</div>

<div ng-repeat="(username, feed) in activeUserColumns" class="user-feed-col colm">
	<header ng-click="">@{{username}}</header>
	<button ng-if="feed.length > 0" ng-click="feed.reverse()" class="btn btn-primary">Reverse</button>
	<button ng-click="deactivateUserColumn(username)" class="btn btn-danger">Close</button>
	<div ng-repeat="feedItem in feed" class="feed-item-box">
		<div feed-item event-info="feedItem" event-types="eventTypes" set-event-type="setEventType"></div>
	</div>
	<img ng-if="!feed.length" src="https://s-media-cache-ak0.pinimg.com/originals/98/76/dd/9876dd1090b6b8e1291cb01592fc7925.gif" style="width: 200px;height:100px" alt="">
</div>
